@import "./animation.scss";

.container{
	font-size: 16px;
	line-height: 16px;
	padding: 0 8px 0 10px;
	border-radius: 12px;
	background: rgba(17, 116, 220, 0.07);
	color: #1174DC;
	font-weight: 500;
	width: max-content;
	margin: 3px;
	display: inline-flex;
	align-items: center;
	max-width: 100%;
	/*overflow: hidden;*/
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 34px;
	text-transform: capitalize;
	position: relative;

	&.isSpeaking{
		.mic{
			background: #1174DC;
		}
	}

	&.isMuted{
		.mic{
			background: #fff !important;
		}
	}

	.name{
		max-width: calc(100% - 28px);
		display: inline-block;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.mic{
		display: inline-flex;
		width: 22px;
		height: 22px;
		border-radius: 50%;
		background: #fff;
		justify-content: center;
		align-items: center;
		margin-left: 6px;

		img{
			width: 12px;
			display: block;
		}
	}

	.speaking > div{
		position: absolute;

		&:nth-child(1){
			background: rgba(17, 116, 220, 0.05);
			top: -4px;
			bottom: -4px;
			left: -4px;
			right: -4px;
			border-radius: 16px;
			z-index: 1;
			animation: pulse1 linear 1.5s infinite;
		}

		&:nth-child(2){
			background: rgba(17, 116, 220, 0.02);
			top: -8px;
			bottom: -8px;
			left: -8px;
			right: -8px;
			border-radius: 16px;
			z-index: 0;
			animation: pulse2 linear 1.5s infinite;
		}
	}
}