.container {
  background: #1174DC;
  border-radius: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: white;
  cursor: pointer;
  width: 100%;
  outline: none;

  &:disabled {
    background: rgba($color: #1174DC, $alpha: 0.7);
    cursor: default;
  }
}