@mixin card{
	background: #fff;
	border-radius: 20px;
	width: calc(25% - 24px);
	padding-top: max(calc(25% - 24px), 180px);
	position: relative;
	margin: 12px;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.02);

	> *{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: max-content;
		min-height: 100%;
	}

	@media screen and (max-width: 768px){
		width: calc(33.3% - 24px);
		padding-top: max(calc(33.3% - 24px), 180px);
	}

	@media screen and (max-width: 630px){
		width: calc(50% - 24px);
		padding-top: max(calc(50% - 24px), 180px);
	}
}