.container {
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  border-radius: 8px;
  height: 132px;
  width: 100%;
  padding: 15px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  font-family: initial;
  
  &::placeholder {
    color: #9C9C9C;
  }
}