.container {
  margin-top: 160px;
  max-width: 520px;
  width: 100%;

  .annouce {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #000000;
  }

  .otpInput {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    .inputCell {
      border: none;
      background: #FFFFFF;
      box-sizing: border-box;
      border: 1px solid #DDDDDD;
      border-radius: 8px;
      width: 48px !important;
      height: 48px;
      font-size: 16px;
    }
  }

  .resendContainer {
    text-align: center;
    justify-content: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
    display: block;

    .resendBtn {
      text-align: center;
      color: #1174DC;
      font-weight: bold;
      margin-left: 5px;
      cursor: pointer;
    }

    .resendCountdown {
      margin-left: 5px;
    }
  }
}