@mixin button {
  border: none;
  font-weight: 500; //500
  font-size: 16px;
  line-height: 24px;
  outline: none;
  padding: 10px;
}
.container {
  // width: 180px;
  // height: 190px;
  position: relative;
  .talking {
    position: absolute;
    top: -20px;
    left: 30%;
    background: #1174dc;
    border-radius: 6px;
    font-weight: 500;
    font-size: 12px;
    line-height: 26px;
    /*width: 50px;*/
    padding: 0 12px;
    font-style: italic;
    color: #ffffff;
    /*padding: 1px 10px;*/
    z-index: 2;


    &.currentUserTalking {
      background: #00BC6D;
    }
  }

  .roomWrapper {
    background: rgba(255, 255, 255, 0.92);
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.02);
    //backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 20px;
    width: 132px;
    height: 156px;
    position: relative;
    padding: 12px 24px;

    @media screen and (max-width: 480px){
      height: auto;

      .detail{
        width: 100% !important;
      }
    }

    .detail {
      width: 132px;
      height: 156px;
      position: relative;

      .members {
        .more {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 26px;
          color: #9C9C9C;
          &:hover {
            text-decoration-line: underline;
          }
        }
      }
      .actions {
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        left: -10px;
        right: -10px;

        @media screen and (max-width: 480px){
          left: 0;
          right: 0;
          bottom: 0;
        }

        .leaveButton {
          @include button;
          color: #FA3434;
          position: relative;
          img {
            position: absolute;
            width: auto;
            top: 20%;
            left: 20%;
          }
          &:hover {
            background: rgba(250, 52, 52, 0.07);
            border-radius: 8px;
          }
        }
        .joinButton {
          @include button;
          background: rgb(17 116 220 / 7%);
          color: #1174DC;
          border-radius: 12px;
          transition: all linear .15s;
          height: 44px;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            background: rgb(17 116 220 / 15%);
          }
        }
        .awayButton {
          @include button;
          color: rgb(167, 115, 20);
        }
      }
    }
    &.currentUserTalking {
      height: 146px;
      .detail {
        height: 146px;
      }
    }
  }
}
