.container {
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }

  .modal {
    width: 90%;
    max-width: 520px;
    min-width: 300px;
    min-height: 100px;
    background-color: white;
    border-radius: 20px;
    padding: 12px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;

    .headerContainer {
      height: 70px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      .title {
        text-align: center;
        display: block;
        width: 100%;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 30px;
        color: #222222;
        font-weight: 500;
      }
      .closeBtn {
        height: 32px;
        width: 32px;
        cursor: pointer;
      }
    }
    
    .content {
      padding: 20px 30px 40px;
      max-height: 500px;
      overflow: auto;
    }
  }
}