.container {
  max-width: 800px;
  width: 100%;
  padding: 40px 20px;
  min-width: 280px;

  @media screen and (max-width: 856px){
  	padding-top: 60px;
  }

  @media screen and (min-width: 1230px){
	margin-left: calc(-5% - 250px);
  }
}
