@mixin imgContainer {
  position: relative;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin: 22px auto 10px;

  img {
    position: relative;
    margin: 19px 19px;
    width: 25px;
  }
}

.container {
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 24px;

  .tool {
  }
   
  .imgContainerOn {
    @include imgContainer();
    background: rgb(17 116 220 / 7%);
  }
  .imgContainerOff {
    @include imgContainer();
    background: rgb(17 116 220 / 7%);
  }
  .micro {
    font-size: 15px;
    color: #666;
    font-weight: 500;
  }
  .on {
    color: #00bc6d;
    font-weight: 600;
  }
  .off {
    color: #FA3534;
    font-weight: 600;
  }
}
