@import "../mixin.scss";

.container {
    @include card;

    &.disabled {
    	.label{
    		color: #b5b5b5;
    	}

    	.wrapper{
    		cursor: not-allowed;
    	}

    	.icon{
    		img{
    			opacity: .5;
    		}
    	}
    }

    &.hasRemoteTrack{
    	.wrapper{
    		cursor: pointer;
    	}
    }

    .wrapper {
        @include card-wrapper;
    }

    .icon {
        @include card-icon;
    }

    .label {
        @include card-label;
    }

    .video{
    	height: 100%;
    	width: 100%;

    	>div{
    		border-radius: 16px;
    	}

    	&.fullScreen{
    		position: fixed;
    		width: 100%;
    		height: 100%;
    		left: 0;
    		top: 0;
    		z-index: 888;

    		> div{
    			border-radius: 0;
    		}
    	}

        video {
            object-fit: contain !important;
        }
    }

    .controls{
    	position: fixed;
    	z-index: 999;
    	bottom: 20px;
    	left: 50%;
    	transform: translateX(-50%);
    	display: flex;
    	align-items: center;
    	justify-content: center;
    	background: rgba(0,0,0,.75);
    	border-radius: 24px !important;
    	padding: 12px 0;

        &:hover{
            background: rgba(0,0,0,1);
        }

    	.close{
    		@include sharing-screen-control-button;
            padding-right: 30px;
    	}

    	.mic{
    		@include sharing-screen-control-button;

    		> span{
    			margin-left: 4px;
    			font-weight: 500;
    			display: inline-block;
    			width: 30px;

    			&.offLabel{
    				color: #FA3434;
    			}

    			&.onLabel{
    				color: #00BD6E;
    			}
    		}
    	}
    }

    @media screen and (max-width: 380px){
        .controls{
            .close{
                padding-right: 24px;
            }
        }
    }
}