.container{
	border-radius: 24px;
	background: #fff;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.02);
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: max-content;
	position: relative;
	z-index: 152;

	* {
		box-sizing: border-box;
	}

	.tutorial{
		position: absolute;
		top: 110%;
		left: 86px;
		color: #fff;
		font-size: 16px;
		font-weight: 500;

		img{
			width: 22px;
			margin-right: 16px;
			transform: translateY(-4px);
		}
	}

	@media screen and (max-width: 830px){
		flex-wrap: wrap;
		width: 100%;

		.tutorial{
			display: none;
		}
	}
}