.container {
    //height: 176px;
    //width: 192px;

    .hasTrack{
        @media screen and (max-width: 480px){
            padding: 0;
            margin-top: 10px;
        }   
    }

    .videoView {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 152px !important;
        height: 136px !important;
        border-radius: 14px;
        overflow: hidden;

        @media screen and (max-width: 480px){
            width: 130px !important;
        }

        video {
            object-fit: contain !important;
        }


        &.videoFullscreen {
            flex: 1;
            // height: calc(100% - 60px);
            width: 100% !important;
            position: fixed;
            top: 0;
            left: 0;
            bottom: 60px;
            z-index: 102;
            border-radius: 0px;
            cursor: initial;
            height: 101% !important;

            .fullScreenControlBar {
                position: fixed;
                bottom: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 60px;
                /*width: 100%;*/
                position: absolute;
                bottom: 20px;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 12px;
                padding: 10px 20px;
                background-color: rgba(0,0,0,.5);
                border: 1px solid rgba(256, 256, 256, .15);

                @media screen and (max-width: 480px){
                    padding: 5px 10px;

                    .btnGroup{

                        .btn{
                            width: 135px !important;
                            font-size: 14px !important;

                            >div{
                                width: 50px !important;
                                height: 50px !important;
                                margin-right: 8px !important;
                            }

                            &.closeBtn{
                                width: 125px !important;
                            }

                            &.micBtn{
                                padding-left: 20px;
                            }
                        }
                    }
                }

                &:hover{
                    background: #000;
                }

                .btnGroup {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    .btn {
                        width: max-content;
                        padding: 0;
                        background: transparent;
                        color: #fff;
                        border: 0;
                        font-weight: 400;
                        font-size: 16px;
                        display: inline-flex;
                        align-items: center;
                        border-radius: 0;
                        position: relative;
                        width: 160px;

                        >div {
                            border-radius: 50%;
                            background: rgba(256, 256, 256, .1);
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                            width: 64px;
                            height: 64px;
                            margin-right: 16px;
                        }

                        img {
                            width: 24px;
                            display: block;
                        }
                    }

                    .closeBtn {
                        &::after {
                            content: "";
                            position: absolute;
                            height: 80%;
                            width: 1px;
                            background: rgba(256, 256, 256, .2);
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }

                    .micBtn {
                        width: 190px;
                        padding-left: 36px;

                        > span{
                          font-weight: 500;
                          margin-left: 4px;
                        }

                        .onLabel {
                            color: #00BC6D;
                        }

                        .offLabel {
                            color: #FA3434;
                        }
                    }
                }
            }
        }
    }
}