.container {
    .inputEmail {
        .addBtn {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 80px;
            color: #1174DC;
            font-weight: bold;
            cursor: pointer;
        }

        input {
            font-family: 'Centra No2';
            outline: none;

            &:focus{
              border-color: #1174DC;
            }
        }
    }

    .emailList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 10px;
        margin-bottom: 20px;

        .emailItem {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px 4px;
            height: 32px;
            background: #222222;
            border-radius: 16.5px;
            margin-right: 4px;
            margin-bottom: 4px;

            .email {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 24px;
                color: #FFFFFF;
                padding-left: 16px;
            }

            .clearEmailBtn {
                flex-basis: 30px;
                width: 24px;
                margin-left: 10px;
                cursor: pointer;
            }
        }
    }
}