.container {
    .input {
        height: 40px;
        display: inline-flex;
        width: auto;
        background: transparent;
        position: relative;

        input {
            background: transparent;
            font-family: 'Centra No2';
            font-size: 15px;
            padding-left: 40px;
            transition: all linear .15s;
            width: 150px;

            &:focus {
                width: 260px;
                border-color: #aaa;
            }
        }

        :focus {
            outline: none;
        }

        .append {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            /*padding-right: 4px;*/
            position: absolute;
            left: 10px;


            >img {
                width: 20px;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .input {
            display: flex;
            width: 100%;

            input {
                width: 100%;

                &:focus {
                    width: 100%;
                }
            }
        }
    }
}