@font-face {
  font-family: 'Centra No2';
  font-style: normal;
  font-weight: normal;
  src: local('Centra No2'), url(./resources/font/CentraNo2-Book.ttf) format('truetype');
}
@font-face {
  font-family: 'Centra No2';
  font-style: normal;
  font-weight: 500;
  src: local('Centra No2'), url(./resources/font/CentraNo2-Medium.ttf) format('truetype');
}