@import "../mixin.scss";

.container{
	padding: 160px 0;
	text-align: center;
	width: 100%;
	background: #fff;

	.title{
		font-size: 48px;
		font-weight: 500;
		line-height: 58px;
		max-width: 600px;
		margin: auto auto 30px;
	}

	.action{
		a{
			@include button;
		}
	}

	@media only screen and (max-width: 480px){
		padding: 120px 0;

		.title{
			font-size: 32px;
			line-height: 42px;
		}

		.action{
			a{
				padding: 12px 20px;
			}
		}
	}
}