.container{
	width: 100%;
	background: #000;
	color: #fff;
	padding: 15px 5%;

	.copyright{
		font-size: 14px;
		font-weight: 400;
	}

	@media only screen and (max-width: 480px){
		.copyright{
			text-align: center;
		}
	}
}